.slick-slider{
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;
}

.hype_inner{
    position: relative;
}

.slick-arrow{
    border: none;
    position: absolute;
    top: 50%;
    margin: -43.5px 28px 0 28px;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 87px;
}

@media (max-width: 1700px){
    .slick-arrow{
        margin: -40px 15px 0 15px;
        width: 44px;
        height: 80px;
    }
}

@media (max-width: 1380px){
    .slick-arrow{
        margin: -28px 9px 0 9px;
        width: 28px;
        height: 56px;
    }
}

@media (max-width: 1061px){
    .slick-arrow{
        display: block;
        margin: -3.8% 1% 0 1%;
        width: 4%;
        height: 13.6%;
    }
}

.slick-prev{
    left: 0;
    background: url('../content/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slick-next{
    right: 0;
    background: url('../content/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
}

@media (max-width: 1700px){
    .slick-dots button{
        width: 8px;
        height: 8px;
        margin-bottom: 8px;
    }
}

@media (max-width: 1380px){
    .slick-dots button{
        width: 7px;
        height: 7px;
        margin-bottom: 7px;
    }
}

@media (max-width: 1061px){
    .slick-dots{
        display: none;
    }
}

