.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.hype_inner {
    position: relative;
}

.slick-arrow {
    border: none;
    position: absolute;
    top: 47%;
    margin: -43.5px 105px 0 27px;
    z-index: 10;
    font-size: 0;
}

@media (max-width: 1700px) {
    .slick-arrow{
        margin: -43.5px 87px 0 15px;
    }
}

@media (max-width: 1061px) {
    .slick-arrow{
        margin: -43.5px 57px 0 15px;
    }
}

@media (max-width: 750px) {
    .slick-arrow{
        margin: -43.5px 38px 0 10px;
    }
}

.arrow-1 {
    left: 0;
}

.arrow-1-top,
.arrow-1-bottom {
    border-radius: 10px;
    background: lightslategrey;
    height: 10px;
    position: absolute;
    top: 60px;
    width: 80px;
}
.arrow-1-top {
    top: 57px;
}
.arrow-1-top {
    transform: rotate(45deg);
    transform-origin: top left;
}
.arrow-1-bottom {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.arrow-1:hover .arrow-1-top,
.arrow-1:hover .arrow-1-bottom{
    background: #113f67;
}

.arrow-2 {
    right: 0;
}

.arrow-2-top,
.arrow-2-bottom {
    border-radius: 10px;
    background: lightslategrey;
    height: 10px;
    position: absolute;
    top: 60px;
    width: 80px;
}
.arrow-2-top {
    top: 62px;
}
.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-2:hover .arrow-2-top,
.arrow-2:hover .arrow-2-bottom{
    background: #113f67;
}

@media (max-width: 1700px){
    .arrow-1-top,
    .arrow-1-bottom {
        width: 70px;
    }

    .arrow-2-top,
    .arrow-2-bottom {
        width: 70px;
    }
}

@media (max-width: 1061px){
    .arrow-1-top,
    .arrow-1-bottom {
        width: 44px;
    }

    .arrow-2-top,
    .arrow-2-bottom {
        width: 44px;
    }
}

@media (max-width: 750px){
    .arrow-1-top,
    .arrow-1-bottom {
        width: 30px;
    }

    .arrow-2-top,
    .arrow-2-bottom {
        width: 30px;
    }
}

.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
}

@media (max-width: 1700px){
    .slick-dots button{
        width: 8px;
        height: 8px;
        margin-bottom: 8px;
    }
}

@media (max-width: 1380px){
    .slick-dots button{
        width: 7px;
        height: 7px;
        margin-bottom: 7px;
    }
}

.slick-dots li.slick-active button{
    background-color: coral;
}

