*{
    margin:0 ;
    padding:0;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

body{
    background-color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

/* header part */

header{
    max-width: 100%;
}

.swal2-popup{
    max-width: 60%;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    color: #22313f;
}

.swal2-title{
    padding-bottom: 20px;
    color: coral;
    background-color: #113f67;
    font-size: 2rem;
}

.popup_inner1{
    margin-bottom: 3%;
}

.popup_inner2{
    margin: 0 1%;
}

.swal2-html-container article{
    padding-bottom: 3%;
    background-color: azure;
}

.swal2-html-container h1{
    border-top: 3px solid;
    padding: 2% 0 1%;
    font-size: 2rem;
}

.swal2-confirm {
    color: azure !important;
}

.logo_gen{
    display: flex;
    justify-content: center;
}

.logo_pic{
    width: 100%;
}

.hotbar_gen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background:#113f67;
}

.hb_catalog, .hb_sbar, .hb_mypurch, .hb_index{
    float: left;
    margin: 35px;
    font-size: 1.5rem;
    line-height: 3.8rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: azure;
    list-style-type: none;
    text-align: center;
}

.hb_catalog:hover{
    color: lightgrey;
}

.hb_mypurch:hover{
    color: lightgrey;
}

.hb_index:hover{
    color: lightgrey;
}

@media (max-width: 1296px){
    .hb_mypurch{
        display: none;
    }

    .hotbar_gen{
        justify-content: center;
    }
}

.hb_index{
    width: 138px;
}

.hb_sbar{
    line-height: 3.5rem;
    width: 450px;
}

.search{
    width: 100%;
}

.hb_catalog{
    width: 158px;
}

.hb_mypurch{
    cursor: pointer;
    width: 250px;
}

@media (max-width: 1061px) {
    .hb_catalog, .hb_sbar, .hb_mypurch, .hb_index{
        margin: 10px;
        font-size: 1.5rem;
    }

    .hb_sbar{
        width: 300px;
    }

    .hb_mypurch{
        width: 150px;
    }
}

@media (max-width: 680px) {
    .hb_catalog, .hb_sbar, .hb_mypurch, .hb_index{
        margin: 5px;
        font-size: 1.5rem;
    }

    .hb_index{
        width: 105px;
    }

    .hb_sbar{
        width: 175px;
    }

    .hb_catalog{
        width: 140px;
    }
}

/* main part */

main{
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
}

.catalog_frame{
    display: flex;
    width: 425px;
}

@media (max-width: 1061px) {
    .global2{
        display: none;
    }
}

.catalog{
    width: 86.3%;
    margin-top: 4.8%;
    margin-left: 7.6%;
    border: none;
    border-radius: 5px;
    background-color: lightslategrey;
    padding-right: 4.8%;
}

.cat_hood{
    width: 100%;
    padding-left: 5.2%;
    font-size: 1.7rem;
    line-height: 4.5rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: coral;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.76);
    background-color: #113f67;
    list-style-type: none;
}

/*@media (max-width: 1500px){
    .cat_hood{
        font-size: 1.5rem;
        line-height: 3.8rem;
    }
}*/

.cat_hood:hover{
    font-size: 180%;
}

.cat_inner{
    width: auto;
    padding-left: 10%;
    font-size: 1rem;
    line-height: 3.3rem;
    text-indent: 0.4rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: azure;
}

/*@media (max-width: 1500px){
    .cat_inner{
        font-size: 0.88rem;
        line-height: 3rem;
    }
}*/

.cat_item:hover{
    color: lightgrey;
}

.global4{
    width: 1920px;
}

.hype_frame{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*@media (max-width: 1296px) {
    .hype_frame{
        width: 100%;
    }
}*/

.hype_inner{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    margin: 1.5% 4% 0;
    background-color: whitesmoke;
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.4);
}

@media (max-width: 1895px){
    .hype_inner{
        margin: 1.5% 3% 0;
        padding: 0 1.5%;
    }
}

@media (max-width: 1700px){
    .hype_inner{
        margin: 1.9% 0;
    }
}

.hype_small{
    flex: 0 1 auto;
    margin: 3.8% 1.2%;
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.5);
}

.hype_pic{
    width: 100%;
    height: 100%;
}

@media (max-width: 1380px){
    .hype_inner{
        margin: 2.4% 7.8%;
    }

    #hype_2{
        display: none;
    }
}

@media (max-width: 1270px){
    .hype_inner{
        margin: 2.9% 4%;
        padding: 0 5%;
    }
}

.hype_small:hover {
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 1);
}

.main_frame{
    display: flex;
    flex-wrap: wrap;
}

.main_hood{
    flex: 1 1 auto;
    margin: 3% 4% 0;
    padding-top: 0.9%;
    padding-bottom: 0.8%;
    background-color: orangered;
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.98);
    font-size: 2.5rem;
    line-height: 4.375rem;
    font-family: Roboto, sans-serif;
    color: azure;
    text-align: center;
}

.main_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    flex: 0 1 auto;
    height: max-content;
    padding: 0 3% 2%;
    margin: 0 4% 3%;
    background-color: antiquewhite;
}

.main_item{
    margin-top: 2%;
    padding: 2% 2% 1%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.20);
    background-color: whitesmoke;
    text-align: center;
}

.main_item:hover{
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.50);
}

@media (max-width: 1895px){
    .main_hood{
        margin: 3% 3% 0;
    }

    .main_inner{
        margin: 0 3% 3%;
    }

    .item_pic{
        width: 313px;
    }
}

@media (max-width: 1793px){
    .item_pic{
        width: 435px;
    }
}

@media (max-width: 1700px){
    .main_hood{
        margin: 2.8% 0 0;
    }

    .main_inner{
        margin: 0 0 3%;
    }

    .item_pic{
        width: 460px;
    }
}

@media (max-width: 1655px){
    .item_pic{
        width: 400px;
    }
}

@media (max-width: 1460px){
    .item_pic{
        width: 360px;
    }
}

@media (max-width: 1380px){
    .main_hood{
        margin: 3% 7.8% 0;
    }

    .main_inner{
        margin: 0 7.8% 3%;
    }

    .item_pic{
        width: 280px;
    }
}

@media (max-width: 1270px){
    .main_hood{
        margin: 3% 4% 0;
    }

    .main_inner{
        margin: 0 4% 3%;
    }

    .main_item{
        padding: 5% 5% 3%;
    }

    .item_pic{
        width: 500px;
    }
}

@media (max-width: 640px){
    .item_pic{
        width: 400px;
    }
}

@media (max-width: 500px){
    .item_pic{
        width: 380px;
    }
}

.main_txt_nm{
    font-size: 100%;
    line-height: 172%;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

@media (max-width: 1270px){
    .main_txt_nm{
        font-size: 130%;
        line-height: 182%;
    }
}

.main_txt_pr{
    font-size: 90%;
    line-height: 81%;
    font-family: Roboto, sans-serif;
}

@media (max-width: 1270px){
    .main_txt_pr{
        font-size: 130%;
        line-height: 78%;
    }
}

.table_gen{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
}

.grid_inn{
    width: 91%;
    margin-left: 7.6%;
}

.grid_title{
    margin-top: 10%;
    font-size: 1.7rem;
    line-height: 4.5rem;
    font-family: Roboto, sans-serif;
    background-color: #113f67;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-style: initial;
    font-weight: bold;
    text-align: center;
    color: coral;
}

.table_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
}

.table_container thead, tbody, tr{
    display: contents;
}

.table_container td, th{
    padding: 10px;
    text-align: center;
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-style: initial;
    font-size: 1rem;
}

.table_container th{
    border: 1px solid;
    background-color: dimgrey;
    font-size: 1.5rem;
    color: black;
}

.table_container tbody tr:nth-child(even) td{
    border: 1px solid;
    background-color: darkgrey;
}

.table_container tbody tr:nth-child(odd) td{
    border: 1px solid;
    background-color: lightgray;
}

/* preload content */

.rev_hood{
    border-radius: 5px;
    width: 90.8%;
    margin-top: 2%;
    margin-left: 4.6%;
    padding-top: 0.9%;
    padding-bottom: 0.8%;
    box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.98);
    font-size: 2.4rem;
    line-height: 4rem;
    font-family: Roboto, sans-serif;
    background-color: #113f67;
    color: azure;
    text-align: center;
}

#rev_container{
    width: 90.8%;
    height: max-content;
    margin-top: 1%;
    margin-left: 4.6%;
    line-height: 2rem;
    font-family: Roboto, sans-serif;
}

.rev_s{
    margin-bottom: 1%;
    padding: 0.2% 0 0.2% 1%;
    background-color: lightgrey;
    list-style-type: none;
}

#name_s{
    font-size: 1.5rem;
    font-weight: bold;
}

#body_s{
    font-size: 1.5rem;
}

#loading_container {
    display: flex;
    align-items: center ;
    justify-content: center ;
    height: 595px;
}

.loading_spin {
    border: 4px solid rgba(0, 0, 0, 0.1) ;
    border-top: 4px solid #3498db ;
    border-radius: 50% ;
    width: 40px ;
    height: 40px ;
    animation: spin 1s linear infinite ;
}

#error_container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 90.8%;
    height: 595px;
    margin-left: 4.6%;
}

.error_placeholder {
    width: 12%;
    padding: 1.2% 0;
    border-radius: 3px;
    text-align: center;
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: red;
    color: azure;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* form content */

#cardForm{
    margin: 1.8% 8% 1.8%;
    background-color: lightgrey;
}

.cardLabels{
    display: flex;
    justify-content: center;
    background-color: #113f67;
}

.cardText{
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: azure;
}

#cardContent {/*панелька управления текст*/
    border: 1px solid;
    border-color: #161b1d;
    text-align: center;
    height: 322px;
    margin: 1% 3% 1%;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: Roboto, sans-serif;
    color: black;
    background-color: whitesmoke;
}

#cardTitle{
    width: 94%;
    margin: 1% 3% 1%;
    font-size: 1.2rem;
    text-align: center;
    background-color: whitesmoke;
    color: black;
}

.cardSend{
    border: 0;
    width: 94%;
    margin: 0 3% 1% 3%;
    padding: 0.25% 0;
    font-size: 1.2rem;
    text-align: center;
    background-color: coral;
    color: azure;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5.55%;
}

.card {
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 1% 1%;
    width: 300px;
    height: auto;
    text-align: center;
}

.card h2{
    text-align: center;
    padding: 2%;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    background-color: #113f67;
    color: azure;
}

.card p{
    padding: 7% 2%;
}

.card button{
    border: 1px solid black;
    padding: 0.5% 3%;
    margin-bottom: 4%;
    background-color: coral;
    color: azure;
}

/* footer part */

footer{
    border-top: 3px solid;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.global3{
    display: flex;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img_gen{
    display: flex;
    width: 10%;
}

.img_email{
    width: 100%;
}

.email_txt{
    font-size: 1rem;
    line-height: 400%;
    font-family: Roboto, sans-serif;
}

/*@media (max-width: 1296px) {
    .email_txt{
        font-size: 110%;
        line-height: 400%;
        font-family: Roboto, sans-serif;
    }
}*/

.section_time{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.time_description{
    font-size: 1rem;
    font-family: Roboto, sans-serif;
}

/*@media (max-width: 1296px) {
    .time_description{
        font-size: 110%;
        font-family: Roboto, sans-serif;
    }
}*/

.time_duration{
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

/*@media (max-width: 1296px) {
    .time_duration{
        font-size: 110%;
        font-family: Roboto, sans-serif;
    }
}*/

.active {
    color: coral;
}
