*{
    margin:0 ;
    padding:0;
}

body{
    background-color: white;

    & a{
        text-decoration: none;
        color: inherit;
    }

    @media (max-width: 1750px){
        .hotbar_gen{
            max-width: 1730px;
        }

        .logo{
            margin-left: 636px;
        }

        .hb_catalog{
            padding-left: 108px;
        }

        .hb_sbar{
            margin-right: 150px;
        }

        .hb_order{
            display: none;
        }

        .ad_frame, .main_frame{
            margin-left: 132px;
        }

        .catalog_frame{
            display: none;
        }
    }
}

header{
    max-width: 1920px;
    height: 150px;
    margin: 0 auto;

    .logo{
        float: left;
        margin-top: 6px;
        margin-bottom: 4px;
        padding-left: 7%;
        height: 60px;
    }

    .h_text{
        display: inline-block;
        border: 2px solid;
        width: 700px;
        margin-top: 20px;
        margin-left: 800px;
        text-indent: 4rem;
        color: red;
        word-spacing: 5px;
        letter-spacing: 2px;
        font-style: italic;
        text-transform: uppercase;
    }

    .hotbar_gen{
        display: inline-block;
        width: 1920px;
        height: 80px;
        background:#113f67;

        .hb_catalog, .hb_sbar, .hb_order, .hb_acc{
            font-size: 1.5rem;
            line-height:4rem;
            font-family: Roboto, sans-serif;
            font-weight: bold;
            color: azure;
            list-style-type: none;
            text-align: center;
            height: 60px;
            margin-top: 8px;
            float: left;
        }

        .hb_catalog{
            margin-left: 9%;
            width: 138px;
        }

        .hb_sbar{
            line-height:3.8rem;
            margin-left: 14%;
            width: 450px;
        }

        .search{
            width: 100%;
        }

        .hb_order{
            margin-left: 14%;
            width: 158px;
        }

        .hb_acc{
            margin-left: 2%;
            width: 250px;
        }
    }
}

main{
    max-width: 1920px;
    height: 1542px;
    margin: 0 auto;

    .catalog_frame{
        width: 435px;
        height: 1275px;
        float: left;

        .catalog{
            width: 375px;
            height: 1250px;
            margin-top: 25px;
            margin-left: 40px;
            border: none;
            border-radius: 5px;
            background-color: lightslategrey;
            padding-right: 20px;

            .cat_hood{
                width: 375px;
                padding-left: 20px;
                font-size: 1.5rem;
                line-height:4.375rem;
                font-family: Roboto, sans-serif;
                font-weight: bold;
                color: coral;
                border: none;
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.76);
                -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.76);
                box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.76);
                background-color: #113f67;
                list-style-type: none;
            }

            .cat_inner{
                width: 375px;
                padding-left: 40px;
                font-size: 1rem;
                line-height:3rem;
                font-family: Roboto, sans-serif;
                font-weight: bold;
                color: azure;
            }
        }
    }

    .ad_frame, .main_frame{
        display: inline-block;
        max-width: 1485px;
    }

    .ad_frame{
        height: 400px;

        .ad_inner{
            display: inline-block;
            width: 1350px;
            height: 437px;
            margin-left: 4.5%;
            margin-top: 25px;
            background-color: whitesmoke;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.4);
            -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.4);
            box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.4);

            .ad_small{
                float: left;
                width: 616px;
                height: 353px;
                margin-top: 42px;
                margin-bottom: 42px;
                margin-left: 2.8%;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.98);
                -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.98);
                box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.98);
                font-size: 1.2rem;
                line-height: 2rem;
                font-family: Roboto, sans-serif;
                font-weight: bold;
                text-align: center;
            }
        }
    }

    .main_frame{
        .main_hood{
            width: 1350px;
            margin-top: 40px;
            margin-left: 4.5%;
            padding-top: 10px;
            padding-bottom: 8px;
            background-color: orangered;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.98);
            -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.98);
            box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.98);
            font-size: 2.5rem;
            line-height:4.375rem;
            font-family: Roboto, sans-serif;
            color: azure;
            text-align: center;
        }

        .main_inner{
            display: inline-block;
            width: 1350px;
            padding-bottom: 40px;
            margin-left: 4.5%;
            margin-bottom: 40px;
            background-color: antiquewhite;

            .main_item{
                width: 380px;
                height: 370px;
                padding-top: 40px;
                margin-top: 40px;
                margin-left: 48px;
                border: 2px solid;
                border-radius: 5px;
                border-color: lightgrey;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.20);
                -moz-box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.20);
                box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.20);
                text-align: center;

                background-color: whitesmoke;
                float: left;

                .main_txt_nm{
                    font-size: 1.3rem;
                    line-height: 2.5rem;
                    font-family: Roboto, sans-serif;
                    font-weight: bold;
                }

                .main_txt_pr{
                    font-size: 1rem;
                    line-height: 0.5rem;
                    font-family: Roboto, sans-serif;
                }
            }
        }
    }
}

footer{
    position: absolute;
    max-width: 1920px;

    .email{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 40px;

        .email_txt{
            margin-left: 20px;
            font-size: 2rem;
            line-height: 4rem;
            font-family: Roboto, sans-serif;
        }

        .img_email{
            cursor: pointer;
            height: 70px;
            float: left;
        }
    }
}